# Environment variables
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/
env/
.vscode/

# Node
node_modules/
dist/
build/
*.tsbuildinfo

# IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
htmlcov/

# PWA
dist/

# MD
*.md

# gitignore
.gitignore

icon*.png
*test*.py
ptoA.txt
*.sh